@{
    ViewBag.Title = "Access";
}
<p>&nbsp;</p>
<div class="alert alert-danger">
    @ViewBag.Mensaje
</div>

<div class="container">
    <p>&nbsp;</p>
    <div class="row center-align">
        <img width="90%" src="~/img/access-denied.jpg" class="img-responsive" />
    </div>
</div>
